*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    ;
}
:root {
    /* Texto */
    --text: #F1F5F9;
    --text-muted: #94A3B8;

    /* Acentos */
    --white:#ffffff;
    --primary: #00E5FF;
    --middle: #00e5ff80;
    --middle2: #b14dff80;
    --secondary: #B14DFF;

    /* Tipografías */
    --font-title: "Orbitron", sans-serif;
    --font-text: "Rajdhani", sans-serif;

    /* Fondo */
    --background: #020617;
    --surface: #071126;
    --surface-light: #0B1730;
}
body{
    background-color: var(--background);
    min-height: 100vh;
}

.card-grid:hover .category-card {
    filter: brightness(.5) blur(2px);
    transform: scale(.95);
    
}

.card-grid .category-card:hover {
    filter: brightness(1);
    transform: scale(1.08);
    border: 2px solid transparent;

    background-image:
        linear-gradient(var(--background),var(--background)),
        linear-gradient(135deg,var(--primary),var(--secondary));

    background-origin: border-box;
    background-clip: padding-box,border-box;

    box-shadow:
        0 0 10px var(--primary),
        0 0 20px var(--middle),
        0 0 30px var(--secondary),
        0 0 40px var(--middle2);

    transform: translateY(-3px);

}

.category-card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease;
    width:100%;
    height:250px;
    margin:auto;
}


.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s ease;
}

.category-card:hover img {
    transform: scale(1.15);
    
}
.title-section{
    color: var(--text);
    font-family: var(--font-title);
}
.card-content {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: var(--white);
    z-index: 2;
    left: 0;
}


.card-content h3 {
    font-size: 20px;
    font-family: var(--font-title);
    
}
.btn-card{
    background: var(--background);

    border: 2px solid transparent;

    background-image:
        linear-gradient(var(--background),var(--background)),
        linear-gradient(135deg,var(--primary),var(--secondary));

    background-origin: border-box;
    background-clip: padding-box,border-box;

    color: var(--white);

    border-radius: 10px;
    padding: 5px 15px;

    font-family: var(--font-text);
    font-weight: 500;

    cursor: pointer;
    transition: all .3s ease;
}

.btn-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--middle);
}
.card-content a:hover{
    color: var(--white);
}
.category-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        #020617d9,
        rgba(2, 6, 23, 0.2)
    );

    z-index: 1;
    
}

 .btn-section{
    background: var(--background);

    border: 2px solid transparent;

    background-image:
        linear-gradient(var(--background),var(--background)),
        linear-gradient(135deg,var(--primary),var(--secondary));

    background-origin: border-box;
    background-clip: padding-box,border-box;

    color: var(--white);

    border-radius: 10px;
    padding: 10px 20px;

    font-family: var(--font-text);
    font-weight: 500;

    cursor: pointer;
    transition: all .3s ease;
}

.btn-section:hover{

    background: linear-gradient(
        135deg,
        var(--primary),
        var(--secondary)
    );

    color: var(--background);
    font-family: var(--font-text);
    font-weight: 500;

    border: 2px solid transparent;

    box-shadow:
        0 0 10px var(--primary),
        0 0 20px var(--middle),
        0 0 30px var(--secondary),
        0 0 40px var(--middle2);

    transform: translateY(-3px);
    
}
 .btn-cart{
    background: var(--background);

    border: 2px solid transparent;

    background-image:
        linear-gradient(var(--background),var(--background)),
        linear-gradient(135deg,var(--primary),var(--secondary));

    background-origin: border-box;
    background-clip: padding-box,border-box;

    color: var(--white);

    border-radius: 10px;
    padding: 5px 10px;

    font-family: var(--font-text);
    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
    transition: all .3s ease;
}

.btn-cart:hover{

    background: linear-gradient(
        135deg,
        var(--primary),
        var(--secondary)
    );

    color: var(--background);
    font-family: var(--font-text);
    font-size: 20px;

    border: 2px solid transparent;

    box-shadow:
        0 0 10px var(--primary),
        0 0 20px var(--middle),
        0 0 30px var(--secondary),
        0 0 40px var(--middle2);

    
}
