*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    ;
}
:root {
    /* Texto */
    --text: #F1F5F9;
    --text-muted: #94A3B8;

    /* Acentos */
    --white:#ffffff;
    --primary: #00E5FF;
    --middle: #00e5ff80;
    --middle2: #b14dff80;
    --secondary: #B14DFF;

    /* Tipografías */
    --font-title: "Orbitron", sans-serif;
    --font-text: "Rajdhani", sans-serif;

    /* Fondo */
    --background: #020617;
    --surface: #071126;
    --surface-light: #0B1730;
}

.card-grid:hover .category-card {
    filter: brightness(.5) blur(2px);
    transform: scale(.95);
}

.card-grid .category-card:hover {
    filter: brightness(1);
    transform: scale(1.08);
}

.category-card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease;
    width:100%;
    height:250px;
    margin:auto;
}


.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s ease;
}

.category-card:hover img {
    transform: scale(1.15);
}

.card-content {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: var(--white);
    z-index: 2;
    left: 0;
}


.card-content h3 {
    font-size: 20px;
    font-family: var(--font-title);
}

.category-card::after {
    content: "";
    position: absolute;
    inset: 0;
}
